.habilidad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 0 0 5px 5px;
}

.habilidad img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 0 0 5px 5px;
  animation: flotar 3s linear infinite;
}

.habilidad p {
  width: 100%;
  text-align: center;
  background: #19376d;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  .habilidad img {
    width: 60px;
    height: 60px;
  }

  .habilidad:hover {
    transform: none;
  }
}

@keyframes flotar {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-23px);
  }
}
